<!-- <footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="footernav">
            <h3 class="mb-4">Navigation</h3>
            <ul class="list-unstyled footer-link">
                <li><a href="">Home</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="forum">Forum</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <div class="socialmedia">
            <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="https://www.facebook.com/bethelschooloftechnology" class="p-2"><span class="fa fa-facebook fa-lg"></span></a></li>
                <li><a href="https://twitter.com/bethelredding" class="p-2"><span class="fa fa-twitter fa-lg"></span></a></li>
                <li><a href="https://www.instagram.com/betheltech/" class="p-2"><span class="fa fa-instagram fa-lg"></span></a></li>
            </ul>
        </div>
    </div>
</footer> -->