header {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.col-6  {
    color: white;
    border-radius: 25px;
    background-color:rgba(0, 0, 0, 0.342);
    border: 2px solid rgba(9, 62, 235, 0.350);
    padding: 20px;
}
.col-12 {
    color: white;
    border-radius: 25px;
    background-color:rgba(0, 0, 0, 0.342);
    border: 2px solid rgba(9, 62, 235, 0.350);
    padding: 20px;
}

.visiondescription {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    width: 79%;
    height: auto;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.342); 
    border-radius: 25px;
    border: 2px solid rgba(9, 62, 235, 0.350);
    padding: 20px; 
}

.site-footer {
    margin-top: 20px;
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.fa {
    padding: 30px;
    font-size: 28px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: rgba(9, 62, 235, 0);
    color: white;
}

/* Twitter */
.fa-twitter {
    background: rgba(9, 62, 235, 0);
    color: white;
}

/* Instagram */
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}