<!DOCTYPE html>

<!-- HOME
1. Dreamscape logo
2. image in background
3. Brief description of what the site is about
4. dream
4. Links to social media at bottom
5. Footer -->
<header>
    <h1>Our Vision</h1>
</header>
<div class="visiondescription">
    <h5>Did you know The average person spends six years of their life dreaming?</h5>
    <h5> We all have had dreams that we thought about for days with no idea what it meant for our life. Our Goal was to
        create an opportunity for you to share those dreams! We believe you build community by relating to other people.
        We wanted to open up a space for you to build community with others that are dreaming the same thing.</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Dream Theory!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac volutpat ex. Vestibulum vitae
                tincidunt lectus, sed maximus nisl. Curabitur pharetra sagittis felis, consequat vulputate tellus
                finibus in. Vestibulum vitae pretium risus. Suspendisse eget pharetra orci. In hac habitasse platea
                dictumst. Curabitur placerat molestie est, vitae suscipit sapien luctus vitae. Maecenas feugiat nunc
                lectus, a facilisis lectus ultricies id. Cras elit sem, malesuada sed purus nec, eleifend lacinia nisi.
                Praesent interdum vel lorem non auctor. Ut in neque et nisi cursus vehicula. Duis non est condimentum,
                pulvinar ipsum et, faucibus mi. Nullam tristique nulla condimentum ornare laoreet. Morbi porta efficitur
                sem, ut egestas tortor tristique nec. Mauris accumsan at arcu eget vestibulum.</p><br>
            <p>Sed lobortis urna non urna pellentesque, eget hendrerit metus volutpat. Donec vulputate nisl at pulvinar
                ultricies. Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare
                viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
            <p>Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare viverra
                elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim facilisis varius
                id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in condimentum
                imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque euismod
                tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus urna, id
                dapibus elit risus ac massa.</p>
            <p>Nulla facilisi. In ornare viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id
                tellus non enim facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In
                fringilla ligula in condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at
                mauris. Pellentesque euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis
                volutpat, nisi mi finibus urna, id dapibus elit risus ac massa.</p>
            <p>In ornare viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
            <p>-Dr. Dreamy</p>
        </div>
        <div class="col-6 col-md-4">
            <h3>Celebrate Dreams 2019!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac volutpat ex. Vestibulum vitae
                tincidunt lectus, sed maximus nisl. Curabitur pharetra sagittis felis, consequat vulputate tellus
                finibus in. Vestibulum vitae pretium risus. Suspendisse eget pharetra orci. In hac habitasse platea
                dictumst. Curabitur placerat molestie est, vitae suscipit sapien luctus vitae. Maecenas feugiat nunc
                lectus, a facilisis lectus ultricies id. Cras elit sem, malesuada sed purus nec, eleifend lacinia nisi.
                Praesent interdum vel lorem non auctor. Ut in neque et nisi cursus vehicula. Duis non est condimentum,
                pulvinar ipsum et, faucibus mi. Nullam tristique nulla condimentum ornare laoreet. Morbi porta efficitur
                sem, ut egestas tortor tristique nec. Mauris accumsan at arcu eget vestibulum.</p><br>
            <p>Sed lobortis urna non urna pellentesque, eget hendrerit metus volutpat. Donec vulputate nisl at pulvinar
                ultricies. Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare
                viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <h3>What your dreams are really about!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac volutpat ex. Vestibulum vitae
                tincidunt lectus, sed maximus nisl. Curabitur pharetra sagittis felis, consequat vulputate tellus
                finibus in. Vestibulum vitae pretium risus. Suspendisse eget pharetra orci. In hac habitasse platea
                dictumst. Curabitur placerat molestie est, vitae suscipit sapien luctus vitae. Maecenas feugiat nunc
                lectus, a facilisis lectus ultricies id. Cras elit sem, malesuada sed purus nec, eleifend lacinia nisi.
                Praesent interdum vel lorem non auctor. Ut in neque et nisi cursus vehicula. Duis non est condimentum,
                pulvinar ipsum et, faucibus mi. Nullam tristique nulla condimentum ornare laoreet. Morbi porta efficitur
                sem, ut egestas tortor tristique nec. Mauris accumsan at arcu eget vestibulum.</p><br>
            <p>Sed lobortis urna non urna pellentesque, eget hendrerit metus volutpat. Donec vulputate nisl at pulvinar
                ultricies. Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare
                viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
        </div>
        <div class="col-6 col-md-4">
            <h3>Who's dreaming today and why?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac volutpat ex. Vestibulum vitae
                tincidunt lectus, sed maximus nisl. Curabitur pharetra sagittis felis, consequat vulputate tellus
                finibus in. Vestibulum vitae pretium risus. Suspendisse eget pharetra orci. In hac habitasse platea
                dictumst. Curabitur placerat molestie est, vitae suscipit sapien luctus vitae. Maecenas feugiat nunc
                lectus, a facilisis lectus ultricies id. Cras elit sem, malesuada sed purus nec, eleifend lacinia nisi.
                Praesent interdum vel lorem non auctor. Ut in neque et nisi cursus vehicula. Duis non est condimentum,
                pulvinar ipsum et, faucibus mi. Nullam tristique nulla condimentum ornare laoreet. Morbi porta efficitur
                sem, ut egestas tortor tristique nec. Mauris accumsan at arcu eget vestibulum.</p><br>
            <p>Sed lobortis urna non urna pellentesque, eget hendrerit metus volutpat. Donec vulputate nisl at pulvinar
                ultricies. Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare
                viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
        </div>
        <div class="col-6 col-md-4">
            <h3>How to dream correctly?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac volutpat ex. Vestibulum vitae
                tincidunt lectus, sed maximus nisl. Curabitur pharetra sagittis felis, consequat vulputate tellus
                finibus in. Vestibulum vitae pretium risus. Suspendisse eget pharetra orci. In hac habitasse platea
                dictumst. Curabitur placerat molestie est, vitae suscipit sapien luctus vitae. Maecenas feugiat nunc
                lectus, a facilisis lectus ultricies id. Cras elit sem, malesuada sed purus nec, eleifend lacinia nisi.
                Praesent interdum vel lorem non auctor. Ut in neque et nisi cursus vehicula. Duis non est condimentum,
                pulvinar ipsum et, faucibus mi. Nullam tristique nulla condimentum ornare laoreet. Morbi porta efficitur
                sem, ut egestas tortor tristique nec. Mauris accumsan at arcu eget vestibulum.</p><br>
            <p>Sed lobortis urna non urna pellentesque, eget hendrerit metus volutpat. Donec vulputate nisl at pulvinar
                ultricies. Phasellus fringilla risus dui, at consectetur tortor pulvinar ac. Nulla facilisi. In ornare
                viverra elementum. Donec eget iaculis tortor. Vestibulum nec orci lacus. Sed id tellus non enim
                facilisis varius id non augue. Pellentesque eu vulputate augue, ac bibendum nunc. In fringilla ligula in
                condimentum imperdiet. Etiam dolor dui, dapibus faucibus consequat a, faucibus at mauris. Pellentesque
                euismod tortor nec vehicula fermentum. Nullam efficitur, libero non sagittis volutpat, nisi mi finibus
                urna, id dapibus elit risus ac massa.</p>
        </div>
    </div>
</div>
<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="footernav">
            <h3 class="mb-4">Navigation</h3>
            <ul class="list-unstyled footer-link">
                <li><a href="">Home</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="forum">Forum</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <div class="socialmedia">
            <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="https://www.facebook.com/bethelschooloftechnology" class="p-2"><span
                            class="fa fa-facebook fa-lg"></span></a></li>
                <li><a href="https://twitter.com/bethelredding" class="p-2"><span
                            class="fa fa-twitter fa-lg"></span></a></li>
                <li><a href="https://www.instagram.com/betheltech/" class="p-2"><span
                            class="fa fa-instagram fa-lg"></span></a></li>
            </ul>
        </div>
    </div>
</footer>