<!-- Sams subscriber form -->
<form id="container">
    <div class="form-group">
      <label for="subscriberform">Sign up here!</label>
      <input type="text" class="form-control" id="subscriberform" placeholder="Email">
    </div>
    <div id="check" class="form-check">
      <input class="subscriberformcheckbox" type="checkbox" value="" id="checkbox">
      <label class="form-check-label" for="subscriberformcheckbox">
        Check here to receive dreamtastic emails!
      </label>
    </div>
    <div class="btn-toolbar justify-content-between">
      <button class="btn btn-outline-light my-2 my-sm-0">Sign me up!</button>
    </div>
  </form>
