<!-- Sams subscriber form -->
<br>
<br>
<br>
<br>
<form id="container">
    <div class="form-group">
      <label for="subscriberform">Enter your email address</label>
      <input type="text" class="form-control" id="subscriberform" placeholder="Email">
    </div>
    <div id="check" class="form-check">
      <input class="subscriberformcheckbox" type="checkbox" value="" id="checkbox">
      <label class="form-check-label" for="subscriberformcheckbox">
        Yes, I want to receive dreamtastic emails!
      </label>
    </div>
    <div class="btn-toolbar justify-content-between">
      <button class="btn btn-outline-light my-2 my-sm-0">Sign me up</button>
    </div>
  </form>
