<h1>About the authors...</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img id="profilepic" src="../../assets/kellan.jpg" alt="Kellan">
      <h3>Kellan</h3>
      <p>Kellan Ryan is a 25-year-old culinary artist whom also enjoys swimming, going to the movies and eating out. He
        is brave and inspiring, but can also be very boring and a bit beautiful. He is an US Citizen Jedi who also
        defines himself as gorgeous. He finished school and then left academia to find the girl of his dreams.
        Physically, Kellan is in pretty good shape. He is average-height with pale skin, dirty blonde hair and green
        eyes. He grew up in a working class neighborhood. Kellan grew up as the 2nd child in a litter of 6. His parents
        are lovely. Though divine wisdom they provided a happy and stable home.</p>
      <p>He is married to Elizabeth Flossie Ryan. Beth is 2 years older than him and works as a saint, raising this
        man's (currently) only child Ariana Josephine Ryan . (There are signs of another to come. Yay!) Ariana is 1 year
        old and thriving! Kellan's best friend is a genius named Jesus! They get on well most of the time. He also hangs
        around with Aaron and Kade Ryan his 2 brothers. They enjoy eating food together as all humans should! Kellan
        currently lives in the Dakotas where he is trying to escape from a really cramped apartment.</p>
      <p>-Kellan</p>
    </div>
    <div class="col-6">
      <img id="profilepic2" src="../../assets/sam.png" alt="Sam">
      <h3>Sam</h3>
      <p>Sam is the team’s sole Canadian, growing up just outside of Vancouver, BC. He did his first round of
        post-secondary at the age of 20, studying Media Arts while enduring the sub-zero temperatures of the
        Saskatchewan winters. Shortly after, he got married, had four kids, and decided it would be just great to do
        another round of post-secondary, this time in the area of web development. Sam now lives on Vancouver Island and
        spends his time finding a good balance between hanging out with his family, creating videos, and learning how to
        code.</p>
      <p>-Sam</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img id="profilepic2" src="../../assets/heidi.jpeg" alt="heidi">
      <h3>Heidi</h3>
      <p>Heidi Kay is a 22-year-old barista living in the beautiful and unique Redding, California. She is newly married
        (almost a year), to the most handsome man in the world, Elijah Kay. She absolutely loves the outdoors, and LOVES
        to have fun. She will never say no to a beer and a taco truck.</p>
      <p>Heidi was home-schooled her whole life in a very very small town in the state of Texas, but never missed out on
        any fun times or opportunities to have community and be involved. Heidi’s goal is to be very successful in
        programming, all while continuing having a happy life and happy marriage.</p>
      <p>-Heidi</p>
    </div>
    <div class="col-6">
      <img id="profilepic2" src="../../assets/Lewis.jpeg" alt="lewis">
      <h3>Lewis</h3>
      <p>Lewis Hylton is a 29-year-old indestructible super dad, whose life is also dominated by solving the murder of
        his friend, Mace Windu . Mace was electrocuted, his arm was cut off, and he was thrown out a window, (ironic
        since his last name is Windu) on May 19, 2005. The killer was never brought to justice!</p>
      <p>He is a down to earth American who defines himself as incredibly diligent and hardworking. He finished school
        and will become a brilliant jr. developer. He is obsessed with Star Wars! Physically, Lewis is in pretty good
        shape. He is average-height with pale skin, green eyes, and ginormous muscles. He has a fully functioning x-wing
        in his garage. He plans on visiting his fellow developers in it, but only when they have finished their greatest
        achievement, Dreamscape a dream come true.</p>
      <p>Lewis's best friend is a voice actor named Mark Hamill. They are inseparable. Mark is a real joker! Lewis’
        greatest flaw is that he works too hard and for some odd reason he just doesn’t know when or how to give up.
        He’s planning on becoming a millionaire and giving jobs to Heidi, Sam, and Kellan. He is also wise though, he
        says he will make them start from the bottom and work their way up. He will show no partiality. Lewis is
        currently living comfortably in North Carolina with his 4 children.</p>
      <p>-Lewis</p>
    </div>
  </div>
</div>
<div class = "contact-us">
  <h1>Contact Us</h1>
	<form name="cf" ng-controller="cfController as cfCtrl" ng-submit="submitForm(cf.$valid)" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" ng-model="name" required>
		</div>
		<div class="form-group">
			<label for="email">Email (optional)</label>
			<input id="email" type="email" name="email">
		</div>
		<div class="form-group">
			<label for="msg">Message</label>
			<textarea id="msg" name="message" rows="4" ng-model="msg" required></textarea>
		</div>
		<input type="submit" value="Send" ng-disabled="cf.$invalid"/>
	</form>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footernav">
      <h3 class="mb-4">Navigation</h3>
      <ul class="list-unstyled footer-link">
        <li><a href="">Home</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="forum">Forum</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
    <div class="socialmedia">
      <ul class="list-unstyled footer-link d-flex footer-social">
        <li><a href="https://www.facebook.com/bethelschooloftechnology" class="p-2"><span
              class="fa fa-facebook fa-lg"></span></a></li>
        <li><a href="https://twitter.com/bethelredding" class="p-2"><span class="fa fa-twitter fa-lg"></span></a></li>
        <li><a href="https://www.instagram.com/betheltech/" class="p-2"><span class="fa fa-instagram fa-lg"></span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>