.col-6 {
  color: white;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.45);
  border: 2px solid rgba(9, 62, 235, 0.350);
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  align-content: center;
}

.row {
  margin: auto;
}

#profilepic2 {
  height: auto;
  width: 43%;
  border-radius: 25px;
  border: 2px solid rgba(9, 62, 235, 0.350);
}

#profilepic {
  height: auto;
  width: 60%;
  border-radius: 25px;
  border: 2px solid rgba(9, 62, 235, 0.350);

}

h1 {
  text-align: center;
  color: white;
  margin: 40px;
}

h3 {
  text-align: center;
}

body,
input,
textarea {
  background-color: rgba(0, 0, 0, 0);
  font-family: Open Sans, Helvetica, sans-serif;
  border-radius: 25px;
  font-size: 16px;
}

body {
  background: #ddd;
  border-radius: 25px;
  color: #333;
}

label {
  display: block;
  border-radius: 25px;
  font-weight: 700;
  margin: 0 0 8px 0;
  min-width: 50px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  color: white;
  -webkit-appearance: none;
}

input[type=submit] {
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: 2px solid white;
  color: #fff;
  padding: 8px 16px;
  transition: background 0.2s;
}

input[type=submit]:not(:disabled):hover {
  background: white;
  color: black;
  border-radius: 25px;
}

input[type=submit]:not(:disabled):active {
  background: #383;
  border-radius: 25px;
}

input[disabled] {
  opacity: 0.5;
  border-radius: 25px;
}

.contact-us {
  background-color: rgba(0, 0, 0, 0.45);
  border: 2px solid rgba(9, 62, 235, 0.350);
  border-radius: 25px;
  margin: auto;
  padding: 16px;
  max-width: 50%;
}

.form-group {
  color: white;
  margin-bottom: 16px;
  border-radius: 25px;
}

input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty {
  border-color: red;
  box-shadow: 0 0 4px red;
}

.site-footer {
  border-top: 2px solid rgba(9, 62, 235, 0.350);
  margin-top: 20px;
  position: auto;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.fa {
  padding: 30px;
  font-size: 28px;
  width: 30px;
  position: auto;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: rgb(9, 62, 235, 0);
  color: rgb(74, 74, 158);
}

/* Twitter */
.fa-twitter {
  background: rgba(9, 62, 235, 0);
  color: rgb(0, 174, 255);
}

/* Instagram */
.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}
