<!DOCTYPE html>

<head>
  <title>home</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
  <h1>About Us</h1>
</header>

<body>

  <div class="AboutUs">

    <h3>Kellan Ryan </h3>
    <p>Kellan Ryan is a 25-year-old culinary artist whom also enjoys swimming, going to the movies and eating out. He is
      brave and inspiring, but can also be very boring and a bit beautiful.
      He is an US Citizen Jedi who also defines himself as gorgeous. He finished school and then left academia to find
      the girl of his dreams. Physically, Kellan is in pretty good shape. He is average-height with pale skin, dirty
      blonde hair and green eyes. He grew up in a working class neighborhood. Kellan grew up as the 2nd child in a
      litter of 6. His parents are lovely. Though divine wisdom they provided a happy and stable home.
      He is married to Elizabeth Flossie Ryan. Beth is 2 years older than him and works as a saint, raising this man's
      (currently) only child Ariana Josephine Ryan . (There are signs of another to come. Yay!) Ariana is 1 year old and
      thriving! Kellan's best friend is a genius named Jesus! They get on well most of the time. He also hangs around
      with Aaron and Kade Ryan his 2 brothers. They enjoy eating food together as all humans should! Kellan currently
      lives in the Dakotas where he is trying to escape from a really cramped apartment.</p>

    <h3>Lewis Hylton</h3>
    <p>sljdflakjsdflk</p>

    <h3>Sam McGrew</h3>
    <p>Sam is the team’s sole Canadian, growing up just outside of Vancouver, BC. He did his first round of
      post-secondary at the age of 20, studying Media Arts while enduring the sub-zero temperatures of the Saskatchewan
      winters. Shortly after, he got married, had four kids, and decided it would be just great to do another round of
      post-secondary, this time in the area of web development. Sam now lives on Vancouver Island and spends his time
      finding a good balance between hanging out with his family, creating videos, and learning how to code.</p>

    <h3>Heidi Shelby Kay</h3>
    <p>Heidi Kay is a 22-year-old barista living in the beautiful and unique Redding, California. She is newly married
      (almost a year), to the most handsome man in the world, Elijah Kay. She absolutely loves the outdoors, and LOVES
      to have fun. She will never say no to a beer and a taco truck.
      Heidi was home-schooled her whole life in a very very small town in the state of Texas, but never missed out on
      any fun times or opportunities to have community
      and be involved. Heidi’s goal is to be very successful in programming, all while continuing having a happy life
      and happy marriage.
    </p>

  </div>
</body>