<!DOCTYPE html>
<h1>About the authors...</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img id="profilepic" src="../../assets/kellan.jpg" alt="Kellan" />
      <h3>Kellan</h3>
      <p>
        Kellan Ryan is a 25-year-old culinary artist whom also enjoys swimming,
        going to the movies and eating out. He is brave and inspiring, but can
        also be very boring and a bit beautiful. He is an US Citizen Jedi who
        also defines himself as gorgeous. He finished school and then left
        academia to find the girl of his dreams. Physically, Kellan is in pretty
        good shape. He is average-height with pale skin, dirty blonde hair and
        green eyes. He grew up in a working class neighborhood. Kellan grew up
        as the 2nd child in a litter of 6. His parents are lovely. Though divine
        wisdom they provided a happy and stable home.
      </p>
      <p>
        He is married to Elizabeth Flossie Ryan. Beth is 2 years older than him
        and works as a saint, raising this man's (currently) only child Ariana
        Josephine Ryan . (There are signs of another to come. Yay!) Ariana is 1
        year old and thriving! Kellan's best friend is a genius named Jesus!
        They get on well most of the time. He also hangs around with Aaron and
        Kade Ryan his 2 brothers. They enjoy eating food together as all humans
        should! Kellan currently lives in the Dakotas where he is trying to
        escape from a really cramped apartment.
      </p>
      <p>-Kellan</p>
    </div>
    <div class="col-6">
      <img id="profilepic2" src="../../assets/sam.png" alt="Sam" />
      <h3>Sam</h3>
      <p>
        Sam is the team’s sole Canadian, growing up just outside of Vancouver,
        BC. He did his first round of post-secondary at the age of 20, studying
        Media Arts while enduring the sub-zero temperatures of the Saskatchewan
        winters. Shortly after, he got married, had four kids, and decided it
        would be just great to do another round of post-secondary, this time in
        the area of web development. Sam now lives on Vancouver Island and
        spends his time finding a good balance between hanging out with his
        family, creating videos, and learning how to code.
      </p>
      <p>-Sam</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img id="profilepic2" src="../../assets/heidi.jpeg" alt="heidi" />
      <h3>Heidi</h3>
      <p>
        Kellan Ryan is a 25-year-old culinary artist whom also enjoys swimming,
        going to the movies and eating out. He is brave and inspiring, but can
        also be very boring and a bit beautiful. He is an US Citizen Jedi who
        also defines himself as gorgeous. He finished school and then left
        academia to find the girl of his dreams. Physically, Kellan is in pretty
        good shape. He is average-height with pale skin, dirty blonde hair and
        green eyes. He grew up in a working class neighborhood. Kellan grew up
        as the 2nd child in a litter of 6. His parents are lovely. Though divine
        wisdom they provided a happy and stable home.
      </p>
      <p>
        He is married to Elizabeth Flossie Ryan. Beth is 2 years older than him
        and works as a saint, raising this man's (currently) only child Ariana
        Josephine Ryan . (There are signs of another to come. Yay!) Ariana is 1
        year old and thriving! Kellan's best friend is a genius named Jesus!
        They get on well most of the time. He also hangs around with Aaron and
        Kade Ryan his 2 brothers. They enjoy eating food together as all humans
        should! Kellan currently lives in the Dakotas where he is trying to
        escape from a really cramped apartment.
      </p>
      <p>-Heidi</p>
    </div>
    <div class="col-6">
      <img id="profilepic2" src="../../assets/Lewis.jpeg" alt="lewis" />
      <h3>Lewis</h3>
      <p>
        Kellan Ryan is a 25-year-old culinary artist whom also enjoys swimming,
        going to the movies and eating out. He is brave and inspiring, but can
        also be very boring and a bit beautiful. He is an US Citizen Jedi who
        also defines himself as gorgeous. He finished school and then left
        academia to find the girl of his dreams. Physically, Kellan is in pretty
        good shape. He is average-height with pale skin, dirty blonde hair and
        green eyes. He grew up in a working class neighborhood. Kellan grew up
        as the 2nd child in a litter of 6. His parents are lovely. Though divine
        wisdom they provided a happy and stable home.
      </p>
      <p>
        He is married to Elizabeth Flossie Ryan. Beth is 2 years older than him
        and works as a saint, raising this man's (currently) only child Ariana
        Josephine Ryan . (There are signs of another to come. Yay!) Ariana is 1
        year old and thriving! Kellan's best friend is a genius named Jesus!
        They get on well most of the time. He also hangs around with Aaron and
        Kade Ryan his 2 brothers. They enjoy eating food together as all humans
        should! Kellan currently lives in the Dakotas where he is trying to
        escape from a really cramped apartment.
      </p>
      <p>-Lewis</p>
    </div>
  </div>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footernav">
      <h3 class="mb-4">Navigation</h3>
      <ul class="list-unstyled footer-link">
        <li><a href="">Home</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="forum">Forum</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
    <div class="socialmedia">
      <ul class="list-unstyled footer-link d-flex footer-social">
        <li>
          <a
            href="https://www.facebook.com/bethelschooloftechnology"
            class="p-2"
            ><span class="fa fa-facebook fa-lg"></span
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/bethelredding" class="p-2"
            ><span class="fa fa-twitter fa-lg"></span
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/betheltech/" class="p-2"
            ><span class="fa fa-instagram fa-lg"></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
