<form id="container">
  <div class="form-group">
    <label for="forgotform">Please enter your email...</label>
    <input type="text" class="form-control" id="forgot" placeholder="Email">
  </div>
  <div id="check" class="form-check">
    <input class="forgotformcheckbox" type="checkbox" value="" id="forgotcheckbox">
    <label class="form-check-label" for="forgotform">
      Check here for us to send you an email and reset your password!
    </label>
  </div>
  <div class="btn-toolbar justify-content-between">
    <button class="btn btn-outline-light my-2 my-sm-0">Submit</button>
  </div>
</form>