body {
    background-image: url("src/assets/background3.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: opacity(30%);
    
  }

  

  
