<!DOCTYPE html>

<!-- HOME
1. Dreamscape logo
2. image in background
3. Brief description of what the site is about
4. Links to social media at bottom
5. Footer -->

<head>
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
    <h1>Our Vision</h1>
</header>

<body>

    <div class="visiondescription">
        <p>Did you know The average person spends six years of their life dreaming?</p>
        <p> We all have had dreams that we thought about for days with no idea what it meant for our life.
            Our Goal was to create an opportunity for you to share those dreams! We believe you build community by
            relating to other people.
            We wanted to open up a space for you to build community with others that are dreaming the same thing.
        </p>

    </div>



    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="footernav">
                <h3 class="mb-4">Navigation</h3>
                <ul class="list-unstyled footer-link">
                    <li><a href="home.component.html">Home</a></li>
                    <li><a href="blog.component.html">Blog</a></li>
                    <li><a href="about-us.component.html">About Us</a></li>
                    <li><a href="forum.component.html">Forum</a></li>
                    <li><a href="#">Login</a></li>
                </ul>



            </div>

            <div class="socialmedia">
                <ul class="list-unstyled footer-link d-flex footer-social">
                    <li><a href="https://www.facebook.com/bethelschooloftechnology" class="p-2"><span
                                class="fa fa-facebook"></span></a></li>

                    <li><a href="https://twitter.com/bethelredding" class="p-2"><span class="fa fa-twitter"></span></a>
                    </li>

                    <li><a href="https://www.instagram.com/betheltech/" class="p-2"><span
                                class="fa fa-instagram"></span></a></li>
                </ul>
            </div>

        </div>
    </footer>

</body>