
  <div class="post" *ngFor = "let post of posts; let i = index">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">{{user.name}}</h5>
        </div>
        <div>
          <p class="card-text">{{post.content}}</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container" >
      <div class="card-body">
        <div> 
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">KellanRyan</h5>
        </div>
        <div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">LewisHylton</h5>
        </div>
        <div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">SamMcGrew</h5>
        </div>
        <div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">HeidiShelbyKay</h5>
        </div>
        <div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
