
  <h1>Our Blog...</h1>
  <div class="post" *ngFor = "let post of posts; let i = index">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">{{user.name}}</h5>
        </div>
        <div>
          <p class="card-text">{{post.content}}</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container" >
      <div class="card-body">
        <div> 
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">KellanRyan</h5>
        </div>
        <div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
          <p>Morbi viverra mi velit, sit amet tristique magna hendrerit ut. Curabitur vel tellus sem. Curabitur tellus tellus, iaculis sed libero vitae, egestas efficitur leo. Mauris id justo et est congue porta. Mauris mollis aliquam lacus, pretium auctor orci tincidunt a. Aenean ut lacus turpis. Suspendisse rutrum ut ex non laoreet. Fusce eget lobortis libero. Praesent volutpat nisl vitae tortor aliquam luctus. Aliquam id lacus in quam condimentum egestas sit amet at leo.</p>
          <p>Nam est nibh, pretium at tristique et, consectetur a dui. Mauris eu dolor ultrices, scelerisque eros nec, fermentum nunc. Etiam varius a arcu et laoreet. Sed viverra magna quis ipsum iaculis auctor. Etiam vel bibendum erat. Nunc sed risus nec leo maximus pellentesque vitae a dolor. Praesent nec justo vitae leo finibus blandit ac sed sapien. Ut blandit sem ante, id consequat libero feugiat et. Nunc maximus laoreet augue, eu tincidunt velit consequat quis. Cras tristique nunc non leo efficitur finibus. Cras quis finibus nunc, sed varius nunc. Aliquam ut facilisis felis. Quisque congue, turpis quis ornare ultrices, nibh magna tincidunt nunc, ut congue odio eros non mi. Nulla viverra, nibh eget tempor bibendum, ligula mi vehicula quam, a varius odio ex nec nunc. Aenean aliquet neque est, quis viverra sapien sodales vitae.</p>
          <p>estibulum lacinia iaculis metus, ut volutpat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque accumsan eleifend odio, ac imperdiet dolor viverra eget. Nulla et orci a enim fermentum malesuada quis ac tortor. Proin ex tellus, aliquet eget ultrices sed, congue ac urna. Nunc vel mi viverra, pharetra diam non, finibus lectus. Phasellus congue tortor luctus urna cursus, sit amet ullamcorper mauris eleifend. Ut magna leo, pellentesque non tortor sed, pellentesque feugiat lectus. Nam feugiat scelerisque felis, sed vehicula lorem dictum et.</p>
          <p>Nam dapibus vel ex vitae elementum. Phasellus sodales purus nec vulputate dignissim. Integer est nunc, rhoncus et feugiat ut, rutrum eget libero. Proin porttitor ex eget sapien commodo, sed ultricies ante rhoncus. Maecenas vel mi quis lorem cursus maximus. Vivamus pellentesque malesuada tellus, eget mollis nulla. Proin ultricies ex ut fermentum elementum. Aliquam blandit non lacus vitae pellentesque. Donec ac ante lacus. Quisque semper nisl sed accumsan interdum.</p>
          <p>-Kellan</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">LewisHylton</h5>
        </div>
        <div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
            <p>Morbi viverra mi velit, sit amet tristique magna hendrerit ut. Curabitur vel tellus sem. Curabitur tellus tellus, iaculis sed libero vitae, egestas efficitur leo. Mauris id justo et est congue porta. Mauris mollis aliquam lacus, pretium auctor orci tincidunt a. Aenean ut lacus turpis. Suspendisse rutrum ut ex non laoreet. Fusce eget lobortis libero. Praesent volutpat nisl vitae tortor aliquam luctus. Aliquam id lacus in quam condimentum egestas sit amet at leo.</p>
            <p>Nam est nibh, pretium at tristique et, consectetur a dui. Mauris eu dolor ultrices, scelerisque eros nec, fermentum nunc. Etiam varius a arcu et laoreet. Sed viverra magna quis ipsum iaculis auctor. Etiam vel bibendum erat. Nunc sed risus nec leo maximus pellentesque vitae a dolor. Praesent nec justo vitae leo finibus blandit ac sed sapien. Ut blandit sem ante, id consequat libero feugiat et. Nunc maximus laoreet augue, eu tincidunt velit consequat quis. Cras tristique nunc non leo efficitur finibus. Cras quis finibus nunc, sed varius nunc. Aliquam ut facilisis felis. Quisque congue, turpis quis ornare ultrices, nibh magna tincidunt nunc, ut congue odio eros non mi. Nulla viverra, nibh eget tempor bibendum, ligula mi vehicula quam, a varius odio ex nec nunc. Aenean aliquet neque est, quis viverra sapien sodales vitae.</p>
            <p>estibulum lacinia iaculis metus, ut volutpat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque accumsan eleifend odio, ac imperdiet dolor viverra eget. Nulla et orci a enim fermentum malesuada quis ac tortor. Proin ex tellus, aliquet eget ultrices sed, congue ac urna. Nunc vel mi viverra, pharetra diam non, finibus lectus. Phasellus congue tortor luctus urna cursus, sit amet ullamcorper mauris eleifend. Ut magna leo, pellentesque non tortor sed, pellentesque feugiat lectus. Nam feugiat scelerisque felis, sed vehicula lorem dictum et.</p>
            <p>Nam dapibus vel ex vitae elementum. Phasellus sodales purus nec vulputate dignissim. Integer est nunc, rhoncus et feugiat ut, rutrum eget libero. Proin porttitor ex eget sapien commodo, sed ultricies ante rhoncus. Maecenas vel mi quis lorem cursus maximus. Vivamus pellentesque malesuada tellus, eget mollis nulla. Proin ultricies ex ut fermentum elementum. Aliquam blandit non lacus vitae pellentesque. Donec ac ante lacus. Quisque semper nisl sed accumsan interdum.</p>
            <p>-Lewis</p>
          </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">SamMcGrew</h5>
        </div>
        <div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
            <p>Morbi viverra mi velit, sit amet tristique magna hendrerit ut. Curabitur vel tellus sem. Curabitur tellus tellus, iaculis sed libero vitae, egestas efficitur leo. Mauris id justo et est congue porta. Mauris mollis aliquam lacus, pretium auctor orci tincidunt a. Aenean ut lacus turpis. Suspendisse rutrum ut ex non laoreet. Fusce eget lobortis libero. Praesent volutpat nisl vitae tortor aliquam luctus. Aliquam id lacus in quam condimentum egestas sit amet at leo.</p>
            <p>Nam est nibh, pretium at tristique et, consectetur a dui. Mauris eu dolor ultrices, scelerisque eros nec, fermentum nunc. Etiam varius a arcu et laoreet. Sed viverra magna quis ipsum iaculis auctor. Etiam vel bibendum erat. Nunc sed risus nec leo maximus pellentesque vitae a dolor. Praesent nec justo vitae leo finibus blandit ac sed sapien. Ut blandit sem ante, id consequat libero feugiat et. Nunc maximus laoreet augue, eu tincidunt velit consequat quis. Cras tristique nunc non leo efficitur finibus. Cras quis finibus nunc, sed varius nunc. Aliquam ut facilisis felis. Quisque congue, turpis quis ornare ultrices, nibh magna tincidunt nunc, ut congue odio eros non mi. Nulla viverra, nibh eget tempor bibendum, ligula mi vehicula quam, a varius odio ex nec nunc. Aenean aliquet neque est, quis viverra sapien sodales vitae.</p>
            <p>estibulum lacinia iaculis metus, ut volutpat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque accumsan eleifend odio, ac imperdiet dolor viverra eget. Nulla et orci a enim fermentum malesuada quis ac tortor. Proin ex tellus, aliquet eget ultrices sed, congue ac urna. Nunc vel mi viverra, pharetra diam non, finibus lectus. Phasellus congue tortor luctus urna cursus, sit amet ullamcorper mauris eleifend. Ut magna leo, pellentesque non tortor sed, pellentesque feugiat lectus. Nam feugiat scelerisque felis, sed vehicula lorem dictum et.</p>
            <p>Nam dapibus vel ex vitae elementum. Phasellus sodales purus nec vulputate dignissim. Integer est nunc, rhoncus et feugiat ut, rutrum eget libero. Proin porttitor ex eget sapien commodo, sed ultricies ante rhoncus. Maecenas vel mi quis lorem cursus maximus. Vivamus pellentesque malesuada tellus, eget mollis nulla. Proin ultricies ex ut fermentum elementum. Aliquam blandit non lacus vitae pellentesque. Donec ac ante lacus. Quisque semper nisl sed accumsan interdum.</p>
            <p>-Sam</p>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div id= "container">
      <div class="card-body">
        <div>
          <button class='btn' style="float: right; color: red" (click)="onClickDelete()">X</button>
          <h5 class="card-user">HeidiShelbyKay</h5>
        </div>
        <div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum tempus magna, ut ullamcorper neque viverra sagittis. Maecenas cursus accumsan justo vitae dapibus. Vivamus tincidunt luctus laoreet. In sit amet orci ut ex aliquet pulvinar. Praesent nec tempus libero. Nulla ac lacinia leo. Maecenas vulputate orci est, tincidunt eleifend dui efficitur aliquam. Proin tempor ultricies libero. Maecenas tincidunt ex eu mauris fringilla egestas. Suspendisse ornare ligula sit amet diam pulvinar convallis. Maecenas facilisis dignissim nisi, eget ultrices odio efficitur non. Etiam convallis metus dui, a convallis massa ultrices vel. Vivamus convallis tincidunt dui, vel consectetur lectus placerat ac. Sed non elit a urna cursus ornare. Quisque at ex quis ex efficitur ornare non quis justo. Mauris dapibus, ligula eu eleifend dignissim, justo nibh aliquet ex, ut varius nisl diam sed leo.</p>
            <p>Morbi viverra mi velit, sit amet tristique magna hendrerit ut. Curabitur vel tellus sem. Curabitur tellus tellus, iaculis sed libero vitae, egestas efficitur leo. Mauris id justo et est congue porta. Mauris mollis aliquam lacus, pretium auctor orci tincidunt a. Aenean ut lacus turpis. Suspendisse rutrum ut ex non laoreet. Fusce eget lobortis libero. Praesent volutpat nisl vitae tortor aliquam luctus. Aliquam id lacus in quam condimentum egestas sit amet at leo.</p>
            <p>Nam est nibh, pretium at tristique et, consectetur a dui. Mauris eu dolor ultrices, scelerisque eros nec, fermentum nunc. Etiam varius a arcu et laoreet. Sed viverra magna quis ipsum iaculis auctor. Etiam vel bibendum erat. Nunc sed risus nec leo maximus pellentesque vitae a dolor. Praesent nec justo vitae leo finibus blandit ac sed sapien. Ut blandit sem ante, id consequat libero feugiat et. Nunc maximus laoreet augue, eu tincidunt velit consequat quis. Cras tristique nunc non leo efficitur finibus. Cras quis finibus nunc, sed varius nunc. Aliquam ut facilisis felis. Quisque congue, turpis quis ornare ultrices, nibh magna tincidunt nunc, ut congue odio eros non mi. Nulla viverra, nibh eget tempor bibendum, ligula mi vehicula quam, a varius odio ex nec nunc. Aenean aliquet neque est, quis viverra sapien sodales vitae.</p>
            <p>estibulum lacinia iaculis metus, ut volutpat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque accumsan eleifend odio, ac imperdiet dolor viverra eget. Nulla et orci a enim fermentum malesuada quis ac tortor. Proin ex tellus, aliquet eget ultrices sed, congue ac urna. Nunc vel mi viverra, pharetra diam non, finibus lectus. Phasellus congue tortor luctus urna cursus, sit amet ullamcorper mauris eleifend. Ut magna leo, pellentesque non tortor sed, pellentesque feugiat lectus. Nam feugiat scelerisque felis, sed vehicula lorem dictum et.</p>
            <p>Nam dapibus vel ex vitae elementum. Phasellus sodales purus nec vulputate dignissim. Integer est nunc, rhoncus et feugiat ut, rutrum eget libero. Proin porttitor ex eget sapien commodo, sed ultricies ante rhoncus. Maecenas vel mi quis lorem cursus maximus. Vivamus pellentesque malesuada tellus, eget mollis nulla. Proin ultricies ex ut fermentum elementum. Aliquam blandit non lacus vitae pellentesque. Donec ac ante lacus. Quisque semper nisl sed accumsan interdum.</p>
            <p>-Heidi</p>
          </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style= "color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Comment
            </button>
            <div class="dropdown-menu">
                <div>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-sm">Comment</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="site-footer" role="contentinfo">
      <div class="container">
          <div class="footernav">
              <h3 class="mb-4">Navigation</h3>
              <ul class="list-unstyled footer-link">
                  <li><a href="">Home</a></li>
                  <li><a href="blog">Blog</a></li>
                  <li><a href="about-us">About Us</a></li>
                  <li><a href="forum">Forum</a></li>
                  <li><a href="login">Login</a></li>
              </ul>
          </div>
          <div class="socialmedia">
              <ul class="list-unstyled footer-link d-flex footer-social">
                  <li><a href="https://www.facebook.com/bethelschooloftechnology" class="p-2"><span class="fa fa-facebook fa-lg"></span></a></li>
                  <li><a href="https://twitter.com/bethelredding" class="p-2"><span class="fa fa-twitter fa-lg"></span></a></li>
                  <li><a href="https://www.instagram.com/betheltech/" class="p-2"><span class="fa fa-instagram fa-lg"></span></a></li>
              </ul>
          </div>
      </div>
  </footer>
